<!DOCTYPE html>
<html lang="en">

{% include "dummygenerator/_head.html" %}

<body>
<nav class="uk-navbar-container" uk-navbar>

  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="/">{{ request.site.name }}</a>
    <ul class="uk-navbar-nav">
      {% if page_title %}
        <li class="uk-active">
          <a href="#!">{{ page_title }}</a>
        </li>
      {% else %}
        <li class="">
          <a href="{% url 'home' %}">Home</a>
        </li>
      {% endif %}
      <li>
        <a href="#">Parent</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-active">
              <a href="#">Active</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

  </div>

  <div class="uk-navbar-right">

    <ul class="uk-navbar-nav">
      <li class="">
        <a href="{% url 'list' %}">Schemas</a>
      </li>
      <li class="">
        <a href="{% url 'create' %}">Create</a>
      </li>
      <li>
        <a href="#">Parent</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-active">
              <a href="#">Active</a>
            </li>
          </ul>
        </div>
      </li>
      {% if request.user.is_authenticated %}
        <li>
          <a class="uk-active uk-width-medium uk-text-truncate" href="{% url 'profile' %}">Hello, {{ request.user.username }}</a>
        </li>
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
      {% else %}
        <li>
          <a href="{% url 'login' %}">Login</a>
        </li>
      {% endif %}
    </ul>

  </div>

</nav>
<div class="uk-container">
  {% include "dummygenerator/_messages.html" %}
  {% block content %}
    <section class="uk-section uk-section-default">
      <h1>Hello world</h1>
    </section>
  {% endblock %}

  {% block scripts %}
  {% endblock %}
</div>
</body>

</html>